# KRX stock data
    * doc url : https://wikidocs.net/47449
    * pykrx : https://github.com/sharebook-kr/pykrx

In [ ]:
!pip install pykrx

In [2]:
from pykrx import stock

In [3]:
df = stock.get_market_ohlcv_by_date("20200101", "20200831", "005930")
df

               시가     고가     저가     종가       거래량
날짜
2020-01-02  55500  56000  55000  55200  12993228
2020-01-03  56000  56600  54900  55500  15422255
2020-01-06  54900  55600  54600  55500  10278951
2020-01-07  55700  56400  55600  55800  10009778
2020-01-08  56200  57400  55900  56800  23501171
...           ...    ...    ...    ...       ...
2020-08-25  56400  56800  56100  56400  14021705
2020-08-26  56400  56500  55700  56400  17651593
2020-08-27  56300  56300  55600  55600  16196568
2020-08-28  56100  56300  55400  55400  14619888
2020-08-31  56000  56100  54000  54000  32671367

[166 rows x 5 columns]

In [6]:
df.head(10)

               시가     고가     저가     종가       거래량
날짜
2020-01-02  55500  56000  55000  55200  12993228
2020-01-03  56000  56600  54900  55500  15422255
2020-01-06  54900  55600  54600  55500  10278951
2020-01-07  55700  56400  55600  55800  10009778
2020-01-08  56200  57400  55900  56800  23501171
2020-01-09  58400  58600  57400  58600  24102579
2020-01-10  58800  59700  58300  59500  16000170
2020-01-13  59600  60000  59100  60000  11359139
2020-01-14  60400  61000  59900  60000  16906295
2020-01-15  59500  59600  58900  59000  14300928

In [7]:
df.tail(20)

               시가     고가     저가     종가       거래량
날짜
2020-08-03  57800  57900  56700  56800  21158940
2020-08-04  57200  58100  57000  57300  19419694
2020-08-05  57300  57500  56300  56900  17739706
2020-08-06  57100  58400  57100  58000  21625874
2020-08-07  57900  58400  57100  57500  18751717
2020-08-10  57600  58300  57500  57800  17774291
2020-08-11  58000  59500  57800  58200  24907912
2020-08-12  58200  59000  57700  59000  18573934
2020-08-13  59400  59600  58000  58700  22089460
2020-08-14  58000  58400  57700  58000  15672548
2020-08-18  58900  59900  58000  58400  25307825
2020-08-19  59000  59200  57800  57800  16930719
2020-08-20  57600  57600  55300  55400  30386029
2020-08-21  56200  56900  55800  55900  21142288
2020-08-24  55800  56600  55400  56100  15055896
2020-08-25  56400  56800  56100  56400  14021705
2020-08-26  56400  56500  55700  56400  17651593
2020-08-27  56300  56300  55600  55600  16196568
2020-08-28  56100  56300  55400  55400  14619888
2020-08-31  56000  56100  54000  54000  32671367

In [10]:
print(df.loc["20200529"]["종가"])             # loc property

50700

In [16]:
df.shape[0]

166

In [17]:
print(df.iloc[df.shape[0]-1][3])                # iloc property

54000

In [18]:
cond = df["종가"] > df["시가"]
print(df[cond])

               시가     고가     저가     종가       거래량
날짜
2020-01-06  54900  55600  54600  55500  10278951
2020-01-07  55700  56400  55600  55800  10009778
2020-01-08  56200  57400  55900  56800  23501171
2020-01-09  58400  58600  57400  58600  24102579
2020-01-10  58800  59700  58300  59500  16000170
...           ...    ...    ...    ...       ...
2020-08-06  57100  58400  57100  58000  21625874
2020-08-10  57600  58300  57500  57800  17774291
2020-08-11  58000  59500  57800  58200  24907912
2020-08-12  58200  59000  57700  59000  18573934
2020-08-24  55800  56600  55400  56100  15055896

[76 rows x 5 columns]

In [20]:
print("상승일:", len(df[cond]))
print("영업일:", len(df))

상승일: 76
영업일: 166

In [21]:
df["전날거래량"] = df["거래량"].shift(1)
df

               시가     고가     저가     종가       거래량       전날거래량
날짜
2020-01-02  55500  56000  55000  55200  12993228         NaN
2020-01-03  56000  56600  54900  55500  15422255  12993228.0
2020-01-06  54900  55600  54600  55500  10278951  15422255.0
2020-01-07  55700  56400  55600  55800  10009778  10278951.0
2020-01-08  56200  57400  55900  56800  23501171  10009778.0
...           ...    ...    ...    ...       ...         ...
2020-08-25  56400  56800  56100  56400  14021705  15055896.0
2020-08-26  56400  56500  55700  56400  17651593  14021705.0
2020-08-27  56300  56300  55600  55600  16196568  17651593.0
2020-08-28  56100  56300  55400  55400  14619888  16196568.0
2020-08-31  56000  56100  54000  54000  32671367  14619888.0

[166 rows x 6 columns]

In [22]:
cond = df["거래량"] > df["전날거래량"]

print("전날대비 거래량 증가일수:", len(df[cond]))
print("영업일:", len(df))

전날대비 거래량 증가일수: 75
영업일: 166

In [23]:
df['5일이동평균'] = df['종가'].rolling(window=5).mean()
df['20일이동평균'] = df['종가'].rolling(window=20).mean()
df['60일이동평균'] = df['종가'].rolling(window=60).mean()
df

,시가,고가,저가,종가,거래량,전날거래량,5일이동평균,20일이동평균,60일이동평균
날짜,,,,,,,,,
2020-01-02,55500,56000,55000,55200,12993228,NaN,NaN,NaN,NaN
2020-01-03,56000,56600,54900,55500,15422255,12993228.0,NaN,NaN,NaN
2020-01-06,54900,55600,54600,55500,10278951,15422255.0,NaN,NaN,NaN
2020-01-07,55700,56400,55600,55800,10009778,10278951.0,NaN,NaN,NaN
2020-01-08,56200,57400,55900,56800,23501171,10009778.0,55760.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2020-08-25,56400,56800,56100,56400,14021705,15055896.0,56320.0,57635.0,54856.666667
2020-08-26,56400,56500,55700,56400,17651593,14021705.0,56040.0,57525.0,54940.000000
2020-08-27,56300,56300,55600,55600,16196568,17651593.0,56080.0,57355.0,54958.333333
2020-08-28,56100,56300,55400,55400,14619888,16196568.0,55980.0,57175.0,54971.666667
2020-08-31,56000,56100,54000,54000,32671367,14619888.0,55560.0,56980.0,54946.666667